.container {
    margin: 1rem;
}

.msg {
    display: inline-block;
    margin: 1rem;
}

.msg1 {
    border: 3px dashed rgb(227, 16, 16);
}

.msg2 {
    border-right: 3px solid rgb(221, 0, 255);
    border-left: 5px dotted blue;
}

.msg3 {
    border-left: 3px solid rgb(221, 0, 255);
    border-right: 5px dotted blue;
}

.msg4 {
    border-right: 3px solid rgb(221, 0, 255);
    border-left: 5px dotted blue;
}

.msg5 {
    border: 5px dashed blue;
    background-color: aqua;
    border-radius: 5px 0;
    padding: 1rem;
}

.msg6 {
    border: 15px solid rgb(201, 77, 14);
    background-color: cadetblue;
    outline: 15px groove salmon;
    outline-offset: 5px;

}

.msg7 {
    border: 15px ridge rgb(201, 77, 14);
    border-radius: 3px;
}

.msg8 {
    border: 5px solid purple;
    border-radius: 50%;
    padding: 2rem;
    width: 3rem;
    height: 3rem;
}

.seffaf {
    background-image: url(../border.img/img/monalisa.jpeg);
    border: 7px solid rgba(242, 65, 59);
}