* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body {
    background-color: white;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container a {
    text-decoration: none;
    padding: 3px;
}

.container a:hover {
    font-weight: bold;
}

header {
    display: flex;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right .menuIcon {
    opacity: 0.4;
    vertical-align: middle;
    /*ihtiyaci olmayan, bozuk kaardese uymasi gereken elemanlara uygulanir, bozuk olan elemanla dikeyde ortalar*/
}

.menuIcon:hover {
    opacity: 1;

}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #4285f4;
    color: white;
    height: 28px;
    margin-right: 10px;
    padding: 5px 8px !important;
    border-radius: 3px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main input {
    border: none;
}

main .search {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px;
    margin: 10px 0;
    height: 40px;
    width: 50%;
    max-width: 600px;
    min-width: 250px;
}

.bgGrey {
    background-color: rgb(237, 237, 237);
    color: #666;
}

.brNone {
    border: none !important;
}

.text {
    margin-top: 10px;
}

#input {
    border: none !important;
    outline: none;
    cursor: pointer;
}

.container a:-webkit-any-link:not(.button) {
    color: black;
    font-size: 16px;
}

.text a {
    text-decoration: underline;
    color: #4285f4 !important;
}

.footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    /* satırlararası boşluk demek olduğu için, tek seferde bütün child larına alttan üstten padding vermiş gibi olur, bunu vermezsek her child a alttan üstten padding vermeliyiz */
}

.footer-country {
    padding-left: 20px;
    font-size: 14px;
    border-bottom: 1px solid #dadce0;
    text-decoration: none;
    display: flex;

}

.footer-bottom-left {
    float: left;
    padding-left: 16px;
}

.footer-bottom-right {
    float: right;
}